print("*** settings.lua ***")

-- use animation steps to change colors (set to 0 to not animate)
animate = 20

-- step length in milliseconds
step = 50

--- WIFI ---
wifi_SSID = "YourSSID"
wifi_password = "your password"
-- wifi.PHYMODE_B 802.11b, More range, Low Transfer rate, More current draw
-- wifi.PHYMODE_G 802.11g, Medium range, Medium transfer rate, Medium current draw
-- wifi.PHYMODE_N 802.11n, Least range, Fast transfer rate, Least current draw
wifi_signal_mode = wifi.PHYMODE_N
-- If the settings below are filled out then the module connects
-- using a static ip address which is faster than DHCP and
-- better for battery life. Blank "" will use DHCP.
client_ip=""
client_netmask=""
client_gateway=""
